<div class = "login-button" *ngIf="user$ | async as user">
  <ng-container *ngIf="user.authenticated; else logInButton">
    <span class="username">{{user.info.username}}  </span>
    <button mat-stroked-button
            (click)="handleLogoutClick()">
      Выйти
    </button>
  </ng-container>

  <ng-template #logInButton>
    <button mat-button (click)="signupClick()">Регистрация</button>
    <a *ngIf="!user.authenticated"
       mat-flat-button
       color="accent"
       (click)="loginClick()">
      Войти
    </a>
  </ng-template>
</div>
