.login-button{
  display: inline-block;
  text-align: right;
}




.my-sidenav{
  background-color: aliceblue;
}
.button-table{
  display: table;
  width: 100%;
}
.logo-cell{
  display: table-cell;
  width: 10%;
  vertical-align: middle;
  text-align: center;
}
.main-button-cell{
  display: table-cell;
  width: 40%;
  vertical-align: middle;
}
.right-cell{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: right;
}
.mat-toolbar{
  box-shadow: 0px 5px 7px grey;
}
.library-icon {
  color: chartreuse;
  display: inline-block;
  font-size: 40pt;
  //margin-left: 20pt;
}

