<div class="profile-form">
  <mat-form-field appearance="fill">
    <mat-label>Имя пользователя</mat-label>
    <input matInput>
  </mat-form-field>

  <button mat-raised-button color="primary">Изменить пароль</button>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Фамилия</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Отчество</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary">Сохранить изменения</button>
</div>
