<mat-sidenav-container class = "my-sidenav" fullscreen>

  <mat-sidenav-content fxLayout="column">
    <div >
      <mat-toolbar color="primary">
        <div class="button-table">
          <div class = "logo-cell">
            <mat-icon class="library-icon" aria-hidden="false" >local_library</mat-icon>
          </div>
          <div class="main-button-cell">
            <button mat-button routerLink="/"><h2>БИБЛИОтека</h2></button>
          </div>
          <div class = "right-cell">
            <app-user-menu></app-user-menu>
          </div>
        </div>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
    <footer fxFlexOffset="auto" >

      <div class="my-footer">
        <span class="vita-text">VITA school</span>
        <span class="year-text">&copy; 2020</span>
      </div>

    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>
