<mat-sidenav-container class = "my-sidenav" fullscreen>

  <mat-sidenav-content fxLayout="column">
    <div >
      <mat-toolbar color="primary">
        <button mat-button routerLink="/"><h2>БИБЛИОтека</h2></button>
        <mat-icon class="library-icon" aria-hidden="false" >local_library</mat-icon>
        <app-user-menu></app-user-menu>
      </mat-toolbar>
    </div>
    <app-book-search></app-book-search>
    <app-popular-book></app-popular-book>
    <footer fxFlexOffset="auto" >

      <div class="my-footer">
        <span class="vita-text">VITA school</span>
        <span class="year-text">&copy; 2020</span>
      </div>

    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>



  <!--<div class="app">
  <div class="my-toolbar">
    <mat-toolbar color="primary">
      <button mat-button routerLink="/"><h2>БИБЛИОтека</h2></button>
      <mat-icon class="library-icon" aria-hidden="false" >local_library</mat-icon>
    </mat-toolbar>
  </div>
  <app-popular-book></app-popular-book>
  <div class = "my-footer">
    <span class="vita-text">VITA school</span>
    <mat-icon class="copyright-icon" aria-hidden="false" >copyright</mat-icon>
    <span class="year-text">2020</span>
  </div>
</div> -->
