.my-card{
  margin: 10pt auto;
  //background-color: white;
  //color: black;
  max-width: 80%;
}
.popbook-table{
  //background-color: white;
  width: 100%;
}
.popbook-header{
  color: black;
}
table {
  width: 100%;
  margin: 10px;
}
