.search-block{
  margin: 5pt auto;
  display: table;
  font-size: 15pt;
  //width: 100%;
}
.search-book-form {
  min-width: 450px;
  max-width: 700px;
  width: 100%;
}

.search-book-full-width {
  width: 100%;
}
