<div><div>
<div class="search-block">
  <div class = "empty-block"></div>
  <form class="search-book-form">
    <mat-form-field class="search-book-full-width">
      <mat-label>Найти издание</mat-label>
      <input matInput  type="text" [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div class="search-button">
    <button mat-raised-button>Поиск</button>
  </div>
</div>
